body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace, sans-serif;
    transition: background-color 0.5s;
}

.bg-color-1 {
    background-color: #FF6347; /* Tomato */
}

.bg-color-2 {
    background-color: #4682B4; /* Steel Blue */
}

.bg-color-3 {
    background-color: #3CB371; /* Medium Sea Green */
}

.bg-color-4 {
    background-color: #FFD700; /* Gold */
}

.bg-color-5 {
    background-color: #8A2BE2; /* Blue Violet */
}


table {
    margin: 20px auto; /* This will center the table horizontally */
}

h1 {
    text-align: center;
}

.top-line {
    text-align: center;
    margin: 20px 0;
}

.recommendation_text {
    text-align: left;
}

.button-wrapper {
    margin: 10px 0; /* Add margin for spacing */
}
.button-wrapper button {
    display: block; /* Make the button a block element */
    width: 100%; /* Optional: Make the button take the full width of its container */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0; /* Optional: Adding a background color */
    padding: 10px; /* Optional: Adding padding to the footer */
}