<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommendations</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
<body>
    <div class = 'recommendation_text' >
    <h2>To get new recommendations, vote one a movie using the options:</h1>
    <h3>OH NO! Not My Taste, try with something else!</h3>
    <h3>OH YES! I Liked It, bring more of that!</h3>
    <h5>This page is a work in progress, new features coming soon!</h5>    
    </div>
    <table border="1">

        <tbody>
            {% for movie in recommended_movies %}
            <tr>
                <td><a href="https://www.themoviedb.org/movie/{{ movie['id'] }}" target="_blank"><img src="https://image.tmdb.org/t/p/w1280/{{ movie['poster_path'] }}" alt="Movie Poster" width="200"></a></td>
                <td style="text-align: center; max-width: 500px;">
                    <div>
                        <p><strong> {{ movie['title'] }} ({{ movie['release_date'][:4] }}) </strong></p>
                        <p>{{ movie['overview'] }}</p>
                    </div>
                </td>   
                <td>
                    <form action="/rate_movie" method="POST" style="text-align: center;">
                        <input type="hidden" name="movie_id" value="{{ movie['id'] }}">
                        <div class="button-wrapper">
                        <button type="submit" name="rating" value="0">OH NO!</button>
                        <button type="submit" name="rating" value="1">OH YES!</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Define an array of class names
            const classes = ['bg-color-1', 'bg-color-2', 'bg-color-3', 'bg-color-4', 'bg-color-5'];

            // Select a random class
            const randomClass = classes[Math.floor(Math.random() * classes.length)];

            // Apply the random class to the body
            document.body.classList.add(randomClass);
        });
    </script>
</body>
</html>